# NOTE: build_and_push_to_cgi.config.example is an example config file. 
# You need to copy this file and rename it to build_and_push_to_cgi.config

[BuildCommands]
# Clean DebugGame binaries
build_command_1 = UnrealBuildTool.dll MyProjectEditor Win64 DebugGame -project=MyProject.uproject -clean
# Clean Shipping binaries
build_command_2 = UnrealBuildTool.dll MyProjectEditor Win64 Shipping -project=MyProject.uproject -clean
# Clean Development binaries explicitly - this makes sure things like .patch0 (from live coding) are also gone
build_command_3 = UnrealBuildTool.dll MyProjectEditor Win64 Development -project=MyProject.uproject -clean
# Full Development rebuild (this also cleans its previous binaries)
build_command_4 = UnrealBuildTool.dll MyProjectEditor Win64 Development -project=MyProject.uproject -Rebuild

[Build]
# If true, we also build for native android. This will generate AndroidPrecompiled/<project>-arm64.so (or other configuration equivalent)
IncludeAndroid = false

# List of files/folders to copy.
# IMPORTANT: Each path must be indented (at least one space or tab)!
[FilesToCopy]
paths =
 /.githooks
 /Binaries
 /Config
 /Content
 /Plugins/Core
 /ReadMe
 /Resources
 MyProject.uproject
 ReadMe.md