[Maps]
mykthynaar = /PlatformContent/Maps/Mykthynaar/Mykthynaar
bastestingarea = /PlatformContent/Maps_Temp/BasTestingArea
bastestingarea2 = /PlatformContent/Maps_Temp/BasTestingArea2
persistentidtest = /PlatformContent/Maps_Temp/Tests/Test_PersistentID

[State]
last_mode = Client

[State.DS]
map_dropdown = mykthynaar
map_text = 
extra_args = -nosteam
log = true
new_console = true
pos_x = 
pos_y = 
res_x = 
res_y = 

[State.ListenServer]
map_dropdown = mykthynaar
map_text = 
extra_args = 
log = true
new_console = true
pos_x = 
pos_y = 
res_x = 
res_y = 

[State.Client]
map_dropdown = bastestingarea
map_text = 
extra_args = -nosteam
log = true
new_console = true
pos_x = 
pos_y = 
res_x = 800
res_y = 640

